@import "~kiteHelpers";

$selectBoxWidth: 200px;

.selectBox {
    &_container {
        position: relative;
        width: $selectBoxWidth;

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;

            border-top: 5px solid #777;
        }
    }

    &_select {
        width: $selectBoxWidth;
        color: #777;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 16px 10px;

        &::-ms-expand {
            display: none;
        }
    }


}
